---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deploy
spec:
  template:
    metadata:
      labels:
        app: test
    spec:
      containers:
        - name: cont
          image: mohancloud12/one:${BUILD_TAG}
          ports:
            - containerPort: 8080
  replicas: 4
  selector:
    matchLabels:
      app: test
